<div class="container">
    <!-- Hero Section -->
    <div class="container__hero">
        <h1 class="hero__title">Bienvenidos a la biblioteca <strong>Lidenbrok</strong>. ¡Esperamos que disfrutes de todo lo que tenemos
            para ofrecer!</h1>
        <button class="hero__button">Ver Libros</button>
    </div>

    <!-- Cards -->
    <div class="container__cards">
        <h2 class="cards__title">
            Servicios
        </h2>

        <!-- Elements -->
        <div class="cards__elements">
            <div class="elements__element">
                <div class="element__img">
                    <img src="../../../assets/home/books.png" alt="" class="img__img">
                </div>
                <div class="element__body">
                    <div class="body__title">
                        Prestamo de Libros
                    </div>
                    <div class="body__text">
                        En nuestra biblioteca tenemos una gran variedad de libros para que puedas disfrutar con múltiples géneros, autores y demás.
                    </div>
                </div>
                <div class="element__button">
                    Ver más aquí.
                </div>
            </div>

            <div class="elements__element">
                <div class="element__img">
                    <img src="../../../assets/home/kids.png" alt="" class="img__img">
                </div>
                <div class="element__body">
                    <div class="body__title">
                        Clases de Deportes
                    </div>
                    <div class="body__text">
                        En nuestra biblioteca tenemos una gran variedad de libros para que puedas disfrutar con múltiples géneros, autores y demás.
                    </div>
                </div>
                <div class="element__button">
                    Ver más aquí.
                </div>
            </div>

            <div class="elements__element">
                <div class="element__img">
                    <img src="../../../assets/home/books.png" alt="" class="img__img">
                </div>
                <div class="element__body">
                    <div class="body__title">
                        Prestamo de Libros
                    </div>
                    <div class="body__text">
                        En nuestra biblioteca tenemos una gran variedad de libros para que puedas disfrutar con múltiples géneros, autores y demás.
                    </div>
                </div>
                <div class="element__button">
                    Ver más aquí.
                </div>
            </div>

        </div>
    </div>

    <!-- Some Books -->
    <app-some-books></app-some-books>



</div>