<div class="container">
    <!-- Team -->
    <div class="container__team">
        <div class="team__text">
            <h2 class="text__title -subr">Nuestro Equipo</h2>
            <p class="text__paragraph">Nuestro equipo está formado por profesionales apasionados y comprometidos con
                nuestra misión. Nos caracterizamos por nuestra dedicación a brindar un servicio excepcional, asesorando
                a nuestros clientes en la selección de libros y proporcionando recomendaciones personalizadas. Valoramos
                el trabajo en equipo, la creatividad y la constante búsqueda de mejoras. Cada miembro de nuestro equipo
                tiene un profundo amor por la lectura y una sólida base de conocimientos que nos permite ofrecer un
                ambiente acogedor y enriquecedor. Estamos comprometidos a colaborar estrechamente con nuestros clientes
                para satisfacer sus necesidades y superar sus expectativas en cada visita a nuestra librería moderna.
            </p>
        </div>
        <div class="team__img">
            <img src="../../../assets/aboutUs/team.png" alt="" class="img__photo">
        </div>
    </div>

    <!-- Mission and Vission -->
    <div class="container__mission">
        <div class="team__text">
            <h2 class="text__title -subr">Misión Y Visión</h2>
            <p class="text__paragraph">En nuestra librería moderna, nuestra misión es ser el epicentro de conocimiento y
                creatividad en nuestra comunidad. Nos comprometemos a ofrecer una selección vanguardista de libros
                impresos y digitales, promoviendo la alfabetización, el aprendizaje continuo y la inspiración. Buscamos
                ser líderes en innovación literaria, brindando un espacio acogedor donde todos puedan explorar,
                conectarse y crecer intelectualmente. Como una plataforma de referencia para autores emergentes y
                establecidos, buscamos fomentar el diálogo, la diversidad y la inclusión. Nuestra visión es ser una
                librería dinámica y relevante, apoyando el amor por la lectura en la era digital y siendo una fuente de
                inspiración para la comunidad creativa.
            </p>
        </div>
        <div class="team__img">
            <img src="../../../assets/aboutUs/library.png" alt="" class="img__photo">
        </div>
    </div>


    <!-- Locations -->
    <div class="container__location">
        <h1 class="location__title -subr    ">Estamos ubicados en</h1>
        <div class="location__maps">
            <div class="maps__data">
                <div class="data__city">
                    <strong>Biblioteca Lidenbrok.</strong> 
                </div>
                <div class="data__city">
                    <strong>Ciudad:</strong>  Medellín, Colombia.
                </div>
                <div class="data__city">
                    <strong>Dirección:</strong> Calle 52 # 64 - 10, Carlos E. Restrepo.
                </div>
            </div>
            <div class="maps__img">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1983.024876158579!2d-75.5794314614769!3d6.25717666466552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNsKwMTUnMjUuOCJOIDc1wrAzNCc0MS4zIlc!5e0!3m2!1ses!2sco!4v1689093998611!5m2!1ses!2sco"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="img__iframe"></iframe>
            </div>
        </div>
    </div>

</div>